.full-width-table {
  width: 100%;
}

.mat-elevation-z8 {
  background-color: white;
}

table {
  border: 5px solid white;
}

th {
  background-color: rgb(203, 46, 129);
  color: white;
  font-size: 23px;
  font-family:'Times New Roman', Times, serif;
}

td {
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
}

tr.mat-row:nth-child(even) {
  background-color: rgba(203, 46, 129, 0.1);
}

button {
  height: 40px;
  font-size: 30px;
  background: none;
  border: none;
}

.btn-delete:hover {
  background-color: rgb(203, 46, 129, 0.4);
  cursor: pointer;
}

